:root {
  --branding-color: rgb(137, 30, 47);
  --heading-color: rgb(224, 44, 44);
  --secondary-color: rgb(244, 167, 180);
  --heading-font-family: "Merriweather", serif;
  --default-font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: rgb(243, 238, 238);
}
h1 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 80px;
}
h2,
h3 {
  color: var(--heading-color);
  font-size: 50px;
  text-align: center;
}
h4 {
  font-size: 50px;
  font-weight: bold;
}
p {
  color: var(--branding-color);
  font-weight: normal;
  font-size: 26px;
  display: block;
}
.hero {
  text-align: center;
  background: linear-gradient(
    109.6deg,
    rgb(6, 2, 2) 32.4%,
    rgb(137, 30, 47) 98.8%
  );
  padding: 160px 20px;
}
.hero p {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}
.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 30px;
}
.content-container {
  padding: 200px 20px;
}
.content h1 {
  font-size: 80px;
  text-align: center;
}
.content h2,
h3 {
  font-size: 40px;
  margin: 20px 0 0;
  line-height: 1.5;
}
.content p {
  font-size: 30px;
}
.btn-about,
content-container .btn-get-contacted {
  display: block;
  text-align: center;
  background: var(--branding-color);
  color: rgb(14, 1, 4);
  font-weight: bold;
  border-radius: 5px;
  font-size: 25px;
  line-height: 30px;
  padding: 20px 20px;
  max-width: 500px;
}
.btn-branding {
  background: var(--branding-color);
  color: rgb(14, 1, 4);
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 20px;
}
.btn-branding :hover {
  color: rgb(14, 1, 4);
  background: rgb(244, 166, 179);
}
.btn-branding-outline {
  display: block;
  text-align: center;
  background: var(--heading-color);
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 20px;
  max-width: 150px;
}
nav {
  padding: 20px 0;
}

nav ul,
.navbar-heading {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 30px;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--heading-color);
}
.content {
  margin: 30px;
}
.technical-skills {
  display: block;
  text-align: center;
  font-size: 40px;
}
.fa-solid,
.a-brands {
  padding: 10px auto;
}
.btn-launch-app {
  display: block;
  text-align: center;
  background: var(--heading-color);
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 20px;
  max-width: 300px;
}
footer {
  width: 100%;
  margin: 70px 0 30px 0;
}
footer p {
  margin: 0;
}
footer .contact-box {
  background-color: rgb(255, 255, 255);
  padding: 20px 150px;
  border-radius: 10px;
  max-width: 900px;
  display: block;
  text-align: center;
}

footer .social-links a {
  margin: 0 25px;
  color: black;
  font-size: 24px;
  padding: 10px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  .navbar-heading {
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 15px;
  }
  nav li {
    display: inline;
    list-style: none;
    line-height: 30px;
    margin-left: 4px;
    font-size: 12px;
  }
  h1 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h4 {
    font-size: 25px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 18px;
    text-align: center;
    max-width: max-content;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 50px;
  }
  .content h2,
  h3 {
    font-size: 30px;
  }
  .content contact-link {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .content btn-about {
    font-size: 10px;
    max-width: 100px;
    padding: 10px auto;
  }

  footer .contact-box {
    padding: 30px 40px;
    text-align: center;
  }
  .btn-branding {
    background: var(--branding-color);
    color: rgb(14, 1, 4);
    font-weight: bold;
    border-radius: 3px;
    font-size: 15px;
    line-height: 16px;
    padding: 12px 10px;
    text-align: center;
  }
  footer .social-links {
    margin: 0 20px;
  }
}
