:root {
  --branding-color: rgb(137, 30, 47);
  --heading-color: rgb(224, 44, 44);
  --secondary-color: rgb(244, 167, 180);
  --heading-font-family: "Merriweather", serif;
  --default-font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: rgb(243, 238, 238);
}
h1 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 80px;
}
h2,
h3 {
  color: var(--heading-color);
  font-size: 50px;
  text-align: center;
}
p {
  color: var(--branding-color);
  font-weight: normal;
  font-size: 26px;
  display: block;
}
.hero {
  text-align: center;
  background: linear-gradient(
    109.6deg,
    rgb(6, 2, 2) 32.4%,
    rgb(137, 30, 47) 98.8%
  );
  padding: 160px 20px;
}
.hero p {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}
.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 30px;
}
.content-container {
  padding: 150px 20px;
}
.content h1 {
  font-size: 80px;
  text-align: center;
}
.content h2,
h3 {
  font-size: 40px;
  margin: 20px 0 0;
  line-height: 1.5;
}
.content p {
  font-size: 30px;
}
.btn-about,
content-container .btn-get-contacted {
  display: block;
  text-align: center;
  background: var(--branding-color);
  color: rgb(14, 1, 4);
  font-weight: bold;
  border-radius: 5px;
  font-size: 25px;
  line-height: 30px;
  padding: 20px 20px;
  max-width: 500px;
}
.btn-branding {
  background: var(--branding-color);
  color: rgb(14, 1, 4);
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 20px;
}
.btn-branding :hover {
  color: rgb(14, 1, 4);
  background: rgb(244, 166, 179);
}
.btn-branding-outline {
  display: block;
  text-align: center;
  background: var(--heading-color);
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 20px;
  max-width: 150px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 20px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
    text-align: center;
    max-width: max-content;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 50px;
  }
  .content h2,
  h3 {
    font-size: 30px;
  }
  .content contact-link {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .content btn-about {
    font-size: 10px;
    max-width: 100px;
    padding: 10px auto;
  }
}
.content {
  margin: 30px;
}
.technical-skills {
  display: block;
  text-align: center;
  font-size: 40px;
}
.fa-solid,
.a-brands {
  padding: 10px auto;
}
.btn-launch-app {
  display: block;
  text-align: center;
  background: var(--heading-color);
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 20px;
  max-width: 300px;
}
